# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data science
- List commonly used libraries used by Data Scientists
- Identify Data Science Tools
- Explore examples of arithmetic eexpressions in Python

## Author
Pedro P. Paz

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. TensorFlow
3. Apache Spark
4. Matplotlib
5. NumPy

| #Data Science Tools |
| ----- |
| Jupyter |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335